*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env

# Ignore migrations in apps/pages
apps/pages/migrations/

# Ignore all subfolders in static
static/*/