<h2>Buat Permohonan Baruuuu</h2>

<form method="post">
    {% csrf_token %}

    <h3>Data Permohonan</h3>
    {{ form.as_p }}

    {% if formset %}
        <h3>Daftar Berkasssss</h3>
        {{ formset.management_form }}
        <table>
            <tr>
                <th>Nama Berkas</th>
                <th>Status</th>
            </tr>
            {% for f in formset %}
            <tr>
                <td>{{ f.instance.item.nama }}</td>
                <td>{{ f.status }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <button type="submit">Simpan</button>
</form>
