{% extends "layouts/base.html" %}
{% load static %}

{% block title %} {% if page_title %} page_title {% else %} Dynamic DataTables {% endif %} {% endblock title %} 

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Daftar Permohonan</h4>
                        <div class="container mt-4">
                            
                                    <div class="d-flex justify-content-end mb-3">
                                        <a href="{% url 'permohonan_create' %}" class="btn btn-primary btn-sm text-white">Tambah Permohonan</a>
                                    </div>
                            <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nama Pemohon</th>
                                        <th>NIK</th>
                                        <th>Alamat</th>
                                        <th>Layanan</th>
                                        <th>Tanggal Permohonan</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in permohonan_list %}
                                    <tr>
                                        <td>{{ item.nama_pemohon }}</td>
                                        <td>{{ item.nik }}</td>
                                        <td>{{ item.alamat }}</td>
                                        <td>{{ item.layanan.nama }}</td>
                                        <td>{{ item.tanggal_permohonan }}</td>
                                        <td>
                                            <a href="{% url 'pemeriksaan_input' item.id %}">
                                            <button type="button" class="btn btn-primary btn-sm">
                                            
                                                Periksa Berkas
                                            </button>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">Belum ada data permohonan.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const districtSelect = document.getElementById("id_district");
        const villageSelect = document.getElementById("id_village");
    
        // reset desa ketika halaman pertama kali load
        villageSelect.innerHTML = '<option value="">Pilih desa...</option>';
    
        districtSelect.addEventListener("change", function () {
            const districtId = this.value;
    
            // kosongkan dropdown desa
            villageSelect.innerHTML = '<option value="">Loading...</option>';
    
            if (!districtId) {
                villageSelect.innerHTML = '<option value="">Pilih desa...</option>';
                return;
            }
    
            fetch(`/ajax/get-kecamatan/${districtId}/`)
                .then(response => response.json())
                .then(data => {
                    villageSelect.innerHTML = '<option value="">Pilih desa...</option>';
                    data.forEach(v => {
                        villageSelect.innerHTML += `<option value="${v.id}">${v.name}</option>`;
                    });
                });
        });
    });
    </script>
    

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% endblock extra_js %}