{% extends "layouts/base.html" %} {% load static %} {% block title %} 
{% if page_title %} page_title {% else %} Dynamic DataTables {% endif %} {% endblock title %} {% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Daftar Permohonan</h4>
            <div class="container mt-4">
              <div class="d-flex justify-content-end mb-3">
                <a
                  href="{% url 'permohonan_create' %}"
                  class="btn btn-primary btn-sm text-white"
                  >Tambah Permohonan</a
                >
              </div>
             <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nama Pemohon</th>
        <th>NIB</th>
        <th>Alamat</th>
        <th>Layanan</th>
        <th>Tanggal Permohonan</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>

      {% for item in object_list %}
      <tr>
        <td>{{ item.nama_pemohon }}</td>
        <td>{{ item.nik }}</td>
        <td>
          <p>
            {{ item.village.name|default:"-" }}, Kecamatan {{ item.district.name|default:"-" }}
          </p>
        </td>
        <td>{{ item.layanan.nama }}</td>
        <td>{{ item.tanggal_permohonan }}</td>
        <td>
          <a href="{% url 'pemeriksaan_input' item.id %}" class="btn btn-primary btn-sm">Periksa</a>
          <a href="{% url 'permohonan_edit' item.id %}" class="btn btn-warning btn-sm">Edit</a>
          <a href="{% url 'print_detail_pemohon' item.id %}" class="btn btn-success btn-sm" target="_blank">Print PDF</a>
          <a href="{% url 'permohonan_delete' item.id %}" class="btn btn-danger btn-sm">Hapus</a>
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="6" class="text-center">Belum ada data permohonan.</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>


<!-- PAGINATION -->
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
      {% endif %}

      {% for page_num in page_obj.paginator.page_range %}
        {% if page_obj.number == page_num %}
          <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}

    </ul>
  </nav>
</div>
<!-- end pagination  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% endblock extra_js %}
