{% extends "layouts/base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} Detail
Pemeriksaan {% endblock title %} {% block content %}

<div class="col-10">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h4>{{ view.object.pk|yesno:"Edit Layanan,Tambah Layanan" }}</h4>
      </div>
      <form method="post">
        {% csrf_token %}
        
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="{% url 'berkasitem_list' %}" class="btn btn-secondary">Batal</a>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
