{% extends "layouts/base.html" %} {% load static %} {% block title %} Detail
Pemeriksaan {% endblock title %} {% load split_points %} {% block content %}

<div class="main-panel">
  <div class="content-wrapper">
      <div class="row">
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between">
        <h4>Daftar Berkas</h4>
<a
        href="{% url 'berkasitem_create' %}"
        class="btn btn-sm btn-primary "
        >Tambah Berkas</a
      >
      </div>
      
      <div class="table-responsive">
        <table class="table" id="berkasTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Item</th>
              <th>Layanan</th>
              <th>Catatan</th>
              <th>Aksi</th>
            </tr>
          </thead>
        
          <tbody>
            {% for l in berkasitems %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td class="text-wrap">{{ l.nama }}</td>
        
              <td class="text-wrap">
                {% for lay in l.layanan.all %}
                  <strong>{{ lay.nama }}</strong>{% if not forloop.last %}, {% endif %}
                {% empty %}
                  <span class="text-muted">Tidak ada</span>
                {% endfor %}
              </td>
        
              <td class="text-wrap">
                <ul class="mb-0">
                  {% for point in l.catatan|split_points %}
                    <li>{{ point }}</li>
                  {% endfor %}
                </ul>
              </td>
        
              <td>
                <a href="{% url 'berkasitem_edit' l.pk %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'berkasitem_delete' l.pk %}" class="btn btn-sm btn-danger">Hapus</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>

      
    </div>
  </div>
</div>
</div>
</div>  
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/berkas-table.js' %}"></script>
{% endblock %}
