{% extends 'layouts/base.html' %}
{% load static %}


{% block extrastyle %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}">

{% endblock extrastyle %}

{% block pro_banner %}

  {% include 'includes/pro-banner.html' %}

{% endblock pro_banner %}



{% block content %}
<div class="container">
  

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Selamat Datang, Iksan!</h3>
                <h6 class="font-weight-normal mb-0">Sistem Informasi Pertanahan Terpadu.</h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-tale">
            <div class="card-body">
                <p class="mb-4">Total Permohonan Masuk</p>
                <p class="fs-30 mb-2">{{ total_permohonan }}</p>
                <p>Data Akumulatif</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
            <div class="card-body">
                <p class="mb-4">Permohonan Bulan Ini</p>
                <p class="fs-30 mb-2">{{ permohonan_bulan_ini }}</p>
                <p>Periode Februari 2026</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title mb-0">Permohonan Terbaru</p>
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Pemohon</th>
                                <th>Layanan</th>
                                <th>Lokasi</th>
                                <th>Tanggal</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in recent_permohonan %}
                            <tr>
                                <td>{{ p.nama_pemohon }}</td>
                                <td class="font-weight-bold">{{ p.layanan.nama }}</td>
                                <td>{{ p.village.name }}, {{ p.district.name }}</td>
                                <td>{{ p.tanggal_permohonan|date:"d M Y" }}</td>
                                <td class="font-weight-medium">
                                    <div class="badge badge-success">Proses</div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Belum ada data permohonan.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

      {% block extra_js %}
      
      <!-- Plugin js for this page -->
      <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
      <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
      
      <!-- Custom js for this page-->
      <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/dashboard.js' %}"></script>
      <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
      <!-- End custom js for this page-->
      
      {% endblock extra_js %}