{% extends 'layouts/base.html' %}
{% load static %}


{% block extrastyle %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}">

{% endblock extrastyle %}

{% block pro_banner %}

  {% include 'includes/pro-banner.html' %}

{% endblock pro_banner %}

{% block content %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <h1>Selamat Datang</h1>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
      {% endblock %}

      {% block extra_js %}
      
      <!-- Plugin js for this page -->
      <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
      <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
      
      <!-- Custom js for this page-->
      <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/dashboard.js' %}"></script>
      <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
      <!-- End custom js for this page-->
      
      {% endblock extra_js %}